<%= render "shared/page_title", title: "Sign in" %>

<div class="section"></div>
<div id="clearance" class="box">
	<div class ="sign-form"> 
  		<%= render partial: '/sessions/form' %>
  	</div>
</div>
