<div id="clearance" class="sign-in">
	<div class="section teal lighten-4">
    	<h2 class="center-align"><%= t(".title") %></h2>	
	</div>
	<div class ="sign-form"> 
  		<%= render partial: '/sessions/form' %>
  	</div>
</div>
