<%= render "shared/page_title", title: "Create Account" %>

<div class="section"></div>
<div id="clearance" class="box">
  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>
    <div class="row">
      <%= form.submit "Submit", class: "btn" %>
    </div>
  <% end %>
</div>
