<%= render "shared/page_title", title: "About Us" %>

<div class="section"></div>
<div class="row">
	<div class="box">
		<p><b>Feel free to create an account and test our app :)</b></p>
		<div class="section"></div>
		<p>We're an amazing team that whants to create even amazier teams! Today we just had the best day EVER and are prowde to bring you this web app. Uray!</p>
	</div>
</div>