<%= video_tag("wildlife.mp4", autoplay: true, loop: true, class: "video") %>
<div class="corners">
	<div class="row">
		<div class="box">
			<h1 id="creatingteams">C<small>reating</small> A<small>mazing</small> T<small>eams</small></h1>
			<p>We're an amazing team that whants to create even amazier teams! Today we just had the best day EVER and are prowde to bring you this web app. Uray!</p>
		</div>
	</div>
	<div class="headlineinvitation">
		<p><b>Feel free to create an account and test our app :)</b></p>
	</div>
</div>