<%= image_tag("img_1465.jpg", class: "index_image") %>
<div class="container">
	<div class="row header text-center">
		<h1 id="creatingteams">C<small>reating</small> A<small>mazing</small> T<small>eams</small></h1>
	</div>
	<div class="row">		
		<div>
			<%= link_to "Members", members_path(@members), class: "home_button" %>	  
		</div>
	</div>	
	<div class="section"></div>
	<div class="row">
		<div>
			<%= link_to "Projects", projects_path, class: "home_button" %> 
		</div>				
	</div>		
</div>