
<div class="container">

	<div class="row header text-center">
		<h1>C<small>reating</small> A<small>mazing</small> T<small>eams</small></h1>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="jumbotron main member">
<<<<<<< HEAD
				<a href="/member">
					<p class="jumbotron inner index text-center">Members</p>	
				</a>	  
=======
				<%= link_to "Members", members_path(@members) %>	  
>>>>>>> b993fdaeb28fa23b1d005fa795287e87b5dd8a33
			</div>		
		</div>
		<div class="col-md-2"></div>		
	</div>	
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="jumbotron main project">
				<a href="/projects">
					<p class="jumbotron inner index text-center">Project</p>	
				</a>	  
			</div>		
		</div>
		<div class="col-md-2"></div>		
	</div>		
</div>