<form action="#" method="get" class="col s10 offset-s1 hide-form" id="add-skill-form" data-id="<%=@project.id%>">
  <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
  <div class="row">
    <div class="input-field col s12">
      <input  name="name" id="name" type="text" class="validate">
      <label for="name">Name</label>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <%= link_to '#', class: "btn-floating", id: "add-skill-button" do %> 
        <i class="fa fa-plus small"></i>
      <% end %>
    </div>      
  </div>
</form>