<h1>New Project</h1>

<form method="POST" action="/projects">
	<label for="name">Name</label>
	<input id="name" name="name">
	<label for="description">Description</label>
	<input id="" name="description">
	<label for="beginning">Date</label>
	<input id="beginning" type="date" name="beginning">
	<label for="duration">Duration</label>
	<input id="duration" name="duration">

	<h2>Skills</h2>
	<div>
		<% @skills.each do |skill| %>
			<label><%= skill.name %></label>
			<input type="checkbox" name="skills[]" value="<%= skill.id %>">
		<% end %>
	</div>
	<button>Submit</button>

<% if @show %>
<%=@show.name %>
<%end%>


</form>