<div class="container">
  <div class="row text-center">
    <h1>Project Page</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="jumbotron main menu">
        <a href="/project/create">
          <div class="jumbotron inner text-center force-padding"><small>Create Project</small></div>
        </a>      
      </div>
      <div class="jumbotron main menu">
        <a href="/project/list">
          <div class="jumbotron inner text-center force-padding"><small>List Project</small></div>
        </a>      
      </div>   
  </div>
</div>