<div class="container">
  <div class="row text-center">
    <h1>Member Page</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="jumbotron main menu">
        <a href="/member/create">
          <div class="jumbotron inner text-center force-padding"><small>Create Member</small></div>
        </a>    
      </div>    
          <p><a href="member/create"><small>Create Member</small></a></p>
          <p><a href="member/list"><small>List Member</small></a></p>
          <p><a href="member/remove"><small>Remove Member</small></a></p>
          <p><a href="member/search"><small>Search Member</small></a></p>       
  </div>
</div>

