/* The animation code */
@keyframes cat {
    100% {transform: rotate(1440deg); left:0px; top:0px;}
}
/* The element to apply the animation to */
.brand-logo-left:hover  {
    position: relative;
    animation-name: cat;
    animation-duration: 1s;
    animation-delay:0.2s;
}

@keyframes main {
    0%   {opacity: 0; left:1000px; top:0px;}
    100% {left:0px; top:0px;}
}
/* The element to apply the animation to */
.yield  {
    position: relative;
    animation-name: main;
    animation-duration: 0.8s;

}
