.ballons-members {
  width:100%;
  max-height: 250px;
  z-index:1;
}



#membercard-container {
  width: 80%;
  margin: auto;
}

#members-card {
  height: 150px;
  display: flex;
}

.availability-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 70px;
  margin-top: -18px;
}

.member-available .availability-circle {
  background-color: #00e676;
}

.member-unavailable .availability-circle {
  background-color: #b71c1c;
  margin-left: 86px;
  margin-top: -18px;
}

.profile-picture {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin-top: 20px;
  
}

.member-attributes {
  flex-grow: 1;
  align-self: center;
  font-family: times new roman;
  position: relative;
}

.member-attributes a .fa.fa-pencil-square-o {
 font-size: x-large;
 color: green;
 position: absolute;
 margin-left: 297px;
 margin-top: -5px;

}

.member-attributes a .fa.fa-times {
 font-size: x-large;
 color: green;
 position: absolute;
 margin-left: 333px;
 margin-top: -5px;

}

.index-container {
 
}

.btn.add-member {
  margin-left: -57px;
  margin-top: 19px;
}

.container.search-member {
  margin-left: 98px;
}

.container.create-member {
  
  border: outset;


}


.labels {
  font-size: 16px;
  color: black;
}

#select-box {
  height: 30px;
  background-color: #a7ffeb;
}

.btn.create-member{
  margin-left: 569px;
}

.create-member-title {
position: absolute;
z-index: 2;
margin-top: 100px;
background-color: #fce4ec;
opacity: 0.3;
width: 500px;
height: 150px;
color: #880e4f;
border-radius: 20%;
left: 50%;
transform: translateX(-50%);
margin-top: 50px;

}

#create-member {
  text-align: center;
  margin-top: 48px;
}



















