[type="checkbox"] + label {
  padding-right: 20px;
  padding-left: 25px;
}

.sign-form {
  position:fixed;
  top: 63px;
  right:0;
  width:500px;
  background-color: white;
  border: solid #00838f;
  display: none;
  z-index: 10;

}

.text {
  color: black;
}

.sign-form.sign-form-open {
  display: block;
}


.field_with_errors label {
  color: red;
}


.signintext {
  color:#00838f;
  font-family: Times;
  font-size: 15px;
}


.create_account {
  margin:auto;
  padding:30px;
  max-width:700px;
}
