.hide-form{
  display: none;
}
.icon-center{
  vertical-align: middle;
}

.anchor{
  /*position: relative;*/
}

.add-skill{
  display: none;
  /*position: absolute;*/
  /*top: 31px;
  right:-79px; 
  z-index: 2;
  */border: 1px solid;
  background-color: white;
}

.dropdown-visible{
  overflow: visible;
}