.hide-form{
  display: none;
}
.icon-center{
  vertical-align: middle;
}

.zero-margin{
  margin:0;
}

.boxes{
  position: relative;
}

.box-bottom#add-skill-member{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: all 1s;
}

.box-bottom.hidden#add-skill-member{
  transform: translate(-50%,50%);
  opacity: 0;
}


.box-left{
  transition: all 1s;
}
.box-right{
  transition: all 1s;
}
.box-left.open{
  transform: translateX(-50%);
}
.box-right.open{
  transform: translateX(50%);
}

#main-form{
  transition: all 1s;
}
#main-form.open{
  transform: translateX(-25%);
}

#secondary-form{
  transition: all 0.5s;
  opacity: 0;
}
#secondary-form.show{
  opacity: 1;
}

