.hide-form{
  display: none;
}
.icon-center{
  vertical-align: middle;
}

/*.open-left{
  transition: all 2s;
  transform: translateX(-50%);   
}

.open-right{
  transition: all 2s;
  transform: translateX(50%); 
}*/

.zero-margin{
  margin:0;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {  
  margin: 20px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.box-bottom {
  animation-name: move-up;
}

.box-left {
  animation-name: move-left;
}

.box-right {
  animation-name: move-right;
}

@keyframes move-up { 
  to { 
     transform: translateY(-140px); 
  }  
}

@keyframes move-left { 
  to { 
    transform: translateX(-50%); 
  }  
}

@keyframes move-right { 
  to { 
    transform: translateX(50%); 
  }  
}

