<h1>CAT</h1>
<a href="/member/list">All members</a>

<div class= "search-form">
	<form action="/member/search" method="get">
	 <input type="text" name="name" placeholder="insert here the name your looking for">
	 <button type="submit">Search</button>
	</form>
</div>



