<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="/javascript/application.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css"></script>

  <!-- Bootstrap -->
  <script src="/javascript/jquery-2.1.4.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

  <title></title>
</head>
<body>
    <div class="row header">
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-brand logo" style="margin-left: 15px;">
                <img height="40" width="40" class="brand" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Black_Cat_Vector.svg/2000px-Black_Cat_Vector.svg.png ">
            </div>
            <p class="navbar-text">C<small>reating</small> A<small>mazing</small> T<small>eams</small></p>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="text-primary">Sign-in</span></a></li>
                <li><a href="#"><span class="text-primary">Log-in</span></a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
              </ul>
            </div>
          </div>
      </nav>
    </div>
  <%= yield %>

</body>
</html>
