<!DOCTYPE html>
<html>
<head>
  <title>C A T</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 
<body>
    <div class="row header">
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-brand logo" style="margin-left: 15px;">
                <a href="/"><img class="cat" height="40" width="40" class="brand" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Black_Cat_Vector.svg/2000px-Black_Cat_Vector.svg.png "></a>
            </div>
            <p class="navbar-text">C<small>reating</small> A<small>mazing</small> T<small>eams</small></p>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="text-primary">Sign-in</span></a></li>
                <li><a href="#"><span class="text-primary">Log-in</span></a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
              </ul>
            </div>
          </div>
      </nav>
    </div>
    <div class="yield_class">

      <%= yield %>

    </div>

</body>
</html>
